@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav header.max-w-\[1024px\] {
  min-width: 100%;
}
.Typewriter {
  min-width: 80%;
}
.Typewriter span {
  font-weight: 800;
  font-size: 50px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .Typewriter span {
    font-weight: 800;
    font-size: 30px;
    color: white;
  }
  button.user div {
    display: none;
  }
}

.bg-photo {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/IMG_5673.jpg');
  object-position: center;
  object-fit: contain;
  background-position: center;
}