@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black */
  --background-start-rgb: 214, 219, 220; /* Light gray */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White */
    --background-start-rgb: 34, 34, 34; /* Dark gray */
    --background-end-rgb: 34, 34, 34; /* Dark gray */
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav header.max-w-\[1024px\] {
  min-width: 100%;
}
.Typewriter {
  min-width: 80%;
}
.Typewriter span {
  font-weight: 800;
  font-size: 50px;
  color: rgb(var(--foreground-rgb));
}

@media only screen and (max-width: 768px) {
  .Typewriter span {
    font-weight: 800;
    font-size: 30px;
    color: rgb(var(--foreground-rgb));
  }
  button.user div {
    display: none;
  }
}

.bg-photo {
  background:linear-gradient(rgba(16,68,33,0.5), rgba(16,68,33,0.5)), url('/POZADINA-VET-BALKANS-EDITED-NEW 1.webp');
  object-position: center;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
  font-size: 16px;
}